<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% extends 'base.html' %}

{% block content %}
<div class="access-denied-container">
  <div class="access-denied-card">

    <div class="access-denied-icon">
      <i class="fa-solid fa-lock"></i>
    </div>

    <div class="access-denied-title">
      Acesso negado
    </div>

    <div class="access-denied-text">
      Seu usuário não possui permissão para acessar este módulo.
    </div>

    <a href="/" class="access-denied-btn">
      Voltar para página inicial
    </a>

  </div>
</div>
{% endblock %}